@import 'tailwindcss';

@plugin "daisyui/theme" {
  name: 'oliBootstrap';
  default: false;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(70% 0.04 256.788);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: oklch(44% 0.043 257.281);
  --color-secondary-content: oklch(86% 0.022 252.894);
  --color-accent: oklch(52% 0.105 223.128);
  --color-accent-content: oklch(95% 0.026 236.824);
  --color-neutral: oklch(12% 0.042 264.695);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0.25rem;
  --radius-field: 1rem;
  --radius-box: 0.25rem;
  --size-selector: 0.1875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui" {
  themes:
    oliBootstrap --default,
    dracula --prefersdark;
}
